
.center {
    margin: auto;
    width: 40%;
    padding: 15 15 0 15px;
}
#dropzone {
  border: 1px solid #606060;
  margin:0 0 10 30;
  width:80%;
}
.dropzone {
  border: 2px dashed #606060;
  border-radius: 10px;
  background: white;
  min-height: 100px;
}
.dropzone .dz-message {
    font-weight: 400; }
.dropzone .dz-message .note {
      font-size: 0.8em;
      font-weight: 200;
      display: block;
      margin-top: 1.4rem; }



body {background-color:#606060;}

.something {background-color: #ebebeb;}

.navbar-default {
    background-color: black;
    border-color: transparent;
}

#user{
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-tabs {
    margin-bottom: -1px;
}
a { color:#cfb87c;}
.something {    color:#1876BA;
}
.dropdown {
  width:120%;
}/*
.btn{
 width: 100%;
}*/
#myTabContent {
    min-height: 500px;
}
.tabbable {
    margin: 10px;
    /*min-height: 300px;*/
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.nav-tabs {
    margin: 0
    margin-bottom:-1px;
}
.tab-content {
    /*overflow-y:scroll;
    height: 100%; */
    border-left: 1px solid #ccc ;
    border-right: 1px solid #ccc;
    border-top:1px solid #ccc;
    padding:10px;
    background-color:#B8B8B8;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {

    background-color:#B8B8B8;
}
.next a {
    background-color: #ecf0f1 !important;
    color: #2d525d !important;
}
.pager .disabled>a, .pager .disabled>a:hover, .pager .disabled>a:focus, .pager .disabled>span {

    background-color: #ecf0f1 !important;
    color: #2d525d !important;
}
.pager li>a, .pager li>span {
    background-color:#2c3e50;
}
.img-container{
   text-align:bottom;
   margin: 0 0 0 20px;
}
