<select id="xml_file" class="form-control">
    {{#each xml_list}}
    <option value="{{ this.url}}">{{ this.name }}</option>
    {{/each}}
</select>
<a id="xmllink" href="" target="_blank">View XML</a>
<button class="btn btn-primary" type="button" id="crosswalkxml">Crosswalk XML File >></button>