<div class="modal-footer">
    <div id=ModalFooter style="float:right;">
        <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cancel</button>
        <button class="btn btn-primary" onclick="saveProperties('{{ _id }}',false)">Save and Close</button>
    </div>
</div>
