
  <div id="dropzone" class="center"><form action="/api/upload/" class="dropzone needsclick" id="geo-upload">
      <div style="display:none">
              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrftoken }}"/>
     </div>
  <div class="dz-message needsclick center">
    <strong>Drop zip files here or click to upload.</strong><br />
  </div>
</form></div>
        <h3> Example Add Task </h3>
        <form id="addTaskForm" class="form-stacked">
            <fieldset>
            <div class="col-md-4">
		<div class="form-group">
                    <label for="x"> x </label>
                    <input type="x" name="x" class="form-control input-sm" id="x" value={{ x }}>
                </div>
                <div class="form-group">
                    <label for="y"> y </label>
                    <input type="y" name="y" class="form-control input-sm" id="y" value={{ y }}>
                </div>
                <button id="addTask" class="btn btn-info-outline btn-primary" type="button">Add Task</button>
            </div>
            </fieldset>
        </form>
        <div class="col-md-4"><pre id="task_result"></pre></div>
