<label for="geoblacklight_status">GeoBlacklight Status</label>
<select id="geoblacklight_status" name="geoblacklight_status" class="form-control">
    <option value="indexed">Indexed</option>
    <option value="notindexed">Not Indexed</option>
</select>
<label for="geoserver_style">Geoserver Default Style</label>
<select id="geoserver_style" name="geoserver_style" class="form-control">
    {{#each styles}}
    <option value="{{ this.name }}">{{ this.name }}</option>
    {{/each}}
</select>
<script>
$("#geoblacklight_status").val("{{status}}");
$("#geoserver_style").val("{{style}}");
</script>
