<div class="container">
  <div class="row">
    <div class="col-sm-6" >
      <!--<iframe id="frame" src="{{ urlxmlfgdc }}" width="100%" height="1000">
     </iframe>-->
    </div>
    <div id="jsoneditor" class="col-sm-6" >

    </div>
  </div>
</div>
<script>
  var container = ('jsoneditor');
  options = {
      mode: 'tree',
      modes: ['code', 'form', 'text', 'tree', 'view'], // allowed modes
      onError: function (err) {
        console.log(err)
        alert(err.toString());
      },
      onChange: function () {
        console.log('change');
      },
      onModeChange: function (mode) {
        var treeMode = document.getElementById('treeModeSelection');
        var textMode = document.getElementById('textModeSelection');
        treeMode.style.display = textMode.style.display = 'none';
        if (mode === 'code' || mode === 'text') {
          textMode.style.display = 'inline';
        } else {
          treeMode.style.display = 'inline';
        }
      },
      indentation: 4,
      escapeUnicode: true,
      onTextSelectionChange: function(start, end, text) {
        var rangeEl = document.getElementById('textRange');
        rangeEl.innerHTML = 'start: ' + JSON.stringify(start) + ', end: ' + JSON.stringify(end);
        var textEl = document.getElementById('selectedText');
        textEl.innerHTML = text;
      },
      onSelectionChange: function(start, end) {
        var nodesEl = document.getElementById('selectedNodes');
        nodesEl.innerHTML = '';
        if (start) {
          nodesEl.innerHTML = ('start: '  + JSON.stringify(start));
          if (end) {
            nodesEl.innerHTML += ('<br/>end: '  + JSON.stringify(end));
          }
        }
      }
    };

    var editor = new JSONEditor($('#jsoneditor'), options,jsonData);
</script>
