
<div id="dropzone" class="center">
  <form id="dropzone1" action="/api/upload/" class="dropzone needsclick" >
     <div style="display:none">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrftoken }}"/>
     </div>
     <div style="display:none">
            <input type="hidden" name="callback" value="geoblacklightq.tasks.workflow.resetSolrIndex"/>
    </div>
    <div class="dz-message needsclick center">
      <strong>Drop zip files here or click to upload.</strong>
    </div>
  </form>
</div>
<script>
      Dropzone.autoDiscover = false;
      $("#dropzone1").dropzone({
          url: "/api/upload/",
          maxFilesize: 10000,
          uploadMultiple: false,
          addRemoveLinks: true,
          acceptedFiles: ".zip",
          init: function() {
            this.on("complete", function(file) {
              this.removeFile(file);
            });
            this.on("success",function(file,response){
              console.log(response);
              load_task_history(user_task_url);
              showResult(response.callback.result_url);
            });
            this.on("error", function(file){
              if (!file.accepted){alert("File must be a zipfile.");}
              this.removeFile(file);
            });
          }
      });
</script>
<h3> Example Add Task </h3>
<form id="addTaskForm" class="form-stacked">
    <fieldset>
    <div class="col-md-4">
        <div class="form-group">
            <label for="x"> x </label>
            <input type="x" name="x" class="form-control input-sm" id="x" value={{ x }}>
        </div>
        <div class="form-group">
            <label for="y"> y </label>
            <input type="y" name="y" class="form-control input-sm" id="y" value={{ y }}>
        </div>
        <button id="addTask" class="btn btn-info-outline btn-primary" type="button">Add Task</button>
    </div>
    </fieldset>
</form>
<div class="col-md-6"><pre id="task_result"></pre></div>
