<label for="xml_file">XML Alternatives</label>
<select id="xml_file" style="width:40%;margin-right:10px;">
    {{#each xml_list}}
    <option value="{{ this.url}}">{{ this.name }}</option>
    {{/each}}
</select>
<a id="xmllink" href="" target="_blank" style="margin-left:05px;">View XML</a>
<button class="btn btn-primary" type="button" style="float:right;padding-top:4px;margin-bottom:20px;"
    id="crosswalkxml">Crosswalk XML File >></button>