<div class="container">
  <div class="row">
    <div class="col-sm-6" >
      <!--<iframe id="frame" src="{{ urlxmlfgdc }}" width="100%" height="1000">
     </iframe>-->
    </div>
    <div id="jsoneditor" class="col-sm-6" >

    </div>
  </div>
</div>
<script>
  var container = document.getElementById("jsoneditor");
  var options = {};
  var editor = new JSONEditor(container, options);
  editor.set(jsonData)
</script>
